body {
  background: #352f5b; }

.container {
  max-width: 500px; }

/*  Tai bus du INPUT langeliai tekstui irasyti  */
/*  In FOCUS, kada paspausime laukeli, bus "aktyvuotas", aplink bus paryskintas */
input[type='text'] {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 500px; }
  input[type='text']:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 500px; }

.todos li {
  background: #423a6f; }

.delete {
  cursor: pointer; }
